*.swp
*~
.DS_Store
.eslintcache
Thumbs.db
.project
.svn
.nvm-version
.vscode
npm-debug.log
debug.log
projects.cson
.atom-socket-secret-*
node_modules/
tags/
atom-shell/
out/
docs/output/
docs/includes/
spec/fixtures/evil-files/
out/
electron/
compile-cache/
.apm/_cacache/
packages/atom-autocomplete-php/indexes/
blob-store/
storage/
split-diff/
snapshot-cache/
recovery/
