.apm
.atom-socket-secret-*
.DS_Store
.eslintcache
.node-gyp
.npm
.nvm-version
.parcel-cache
.project
.python-version
.svn
.vscode
*.swp
*~
/atom-shell
/out
/tags
blob-store
compile-cache
debug.log
dev
electron
node_modules
npm-debug.log
packages/atom-autocomplete-php/indexes
packages/atom-autocomplete-php/php
recovery
evil-files
storage
Thumbs.db
