*.swp
*~
.DS_Store
.eslintcache
Thumbs.db
.project
.svn
.nvm-version
.vscode
npm-debug.log
debug.log
projects.cson
.atom-socket-secret-*
node_modules/
tags/
atom-shell/
out/
docs/output/
docs/includes/
spec/fixtures/evil-files/
electron/
compile-cache/
# .apm/_cacache/
# .apm/_logs/
# .apm/index-*/
/packages/atom-autocomplete-php/indexes/*
blob-store/
storage/
/split-diff/
snapshot-cache/
recovery/
# .apm/_*/
# .apm/index-*/
.node-gyp/Library/Caches/
# .apm/
.node-gyp/
.apm/*
.apm/**
!.apm/.gitignore
