@font-face {
  font-family: "Material Design Icons";
  font-style: normal !important;
  font-weight: normal !important;
  src: url("/Volumes/Storage/Projects/atom/fonts/materialdesignicons-webfont.ttf");
}

@font-face {
  font-display: fallback;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Merriweather normal 300.otf") format("opentype")
}

@font-face {
  font-display: fallback;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  src: url("fonts/Merriweather italic 300.otf") format("opentype")
}

@font-face {
  font-display: fallback;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Merriweather normal 700.otf") format("opentype")
}

@font-face {
  font-display: fallback;
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/Merriweather italic 700.otf") format("opentype")
}

@font-face {
  font-display: fallback;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Proxima Nova normal 100.otf") format("opentype")
}

@font-face {
  font-display: fallback;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Proxima Nova normal 300.otf") format("opentype")
}

@font-face {
  font-display: fallback;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Proxima Nova normal 400.otf") format("opentype")
}

@font-face {
  font-display: fallback;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Proxima Nova normal 600.otf") format("opentype")
}

@font-face {
  font-display: fallback;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Proxima Nova normal 700.otf") format("opentype")
}


.fg-color {
  color: @fg-color !important;
}
.fg-hover-color:hover {
  color: @fg-hover-color !important;
}
.fg-dark {
  color: @fg-dark !important;
}
.fg-hover-dark:hover {
  color: @fg-hover-dark !important;
}
.fg-subtle {
  color: @fg-subtle !important;
}
.fg-hover-subtle:hover {
  color: @fg-hover-subtle !important;
}
.fg-highlight {
  color: @fg-highlight !important;
}
.fg-hover-highlight:hover {
  color: @fg-hover-highlight !important;
}
.fg-selected {
  color: @fg-selected !important;
}
.fg-hover-selected:hover {
  color: @fg-hover-selected !important;
}
.fg-info {
  color: @fg-info !important;
}
.fg-hover-info:hover {
  color: @fg-hover-info !important;
}
.fg-success {
  color: @fg-success !important;
}
.fg-hover-success:hover {
  color: @fg-hover-success !important;
}
.fg-warning {
  color: @fg-warning !important;
}
.fg-hover-warning:hover {
  color: @fg-hover-warning !important;
}
.fg-error {
  color: @fg-error !important;
}
.fg-hover-error:hover {
  color: @fg-hover-error !important;
}


.bg-dark {
  background: @bg-dark !important;
  background-color: @bg-dark !important;
}
.bg-hover-dark:hover {
  background: @bg-hover-dark !important;
  background-color: @bg-hover-dark !important;
}
.bg-highlight {
  background: @bg-highlight !important;
  background-color: @bg-highlight !important;
}
.bg-hover-highlight:hover {
  background: @bg-hover-highlight !important;
  background-color: @bg-hover-highlight !important;
}
.bg-selected {
  background: @bg-selected !important;
  background-color: @bg-selected !important;
}
.bg-hover-selected:hover {
  background: @bg-hover-selected !important;
  background-color: @bg-hover-selected !important;
}
.bg-info {
  background: @bg-info !important;
  background-color: @bg-info !important;
}
.bg-hover-info:hover {
  background: @bg-hover-info !important;
  background-color: @bg-hover-info !important;
}
.bg-success {
  background: @bg-success !important;
  background-color: @bg-success !important;
}
.bg-hover-success:hover {
  background: @bg-hover-success !important;
  background-color: @bg-hover-success !important;
}
.bg-warning {
  background: @bg-warning !important;
  background-color: @bg-warning !important;
}
.bg-hover-warning:hover {
  background: @bg-hover-warning !important;
  background-color: @bg-hover-warning !important;
}
.bg-error {
  background: @bg-error !important;
  background-color: @bg-error !important;
}
.bg-hover-error:hover {
  background: @bg-hover-error !important;
  background-color: @bg-hover-error !important;
}

.bg-transparent {
  background: transparent !important;
  background-color: transparent !important;
}
.bg-hover-transparent:hover {
  background: transparent !important;
  background-color: transparent !important;
}
.border-transparent,
.border-hover-transparent:hover {
  border-color: transparent !important;
}



.editor-font-settings {
  font-kerning: none !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -moz-font-smoothing: grayscale !important;
  letter-spacing: 0 !important;
  text-rendering: optimizeLegibility !important;
}

.font-icon {
  &:extend(.editor-font-settings);

  vertical-align: middle !important;
  display: inline-block !important;
  font-style: normal !important;
  min-width: @tool-bar-btn-width !important;
  width: auto !important;
  font-family: "MaterialDesignIcons", "master-icons", "Font Awesome 5 Free", "Font Awesome 5 Brands", "FontAwesome5Free-Solid", "FontAwesome5Free-Regular", "FontAwesome5Brands-Regular", "system-ui";
}

.reset-margin {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

.reset-padding {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}

.mdi {
  &:extend(.editor-font-settings);
  &:extend(.reset-margin);
  &:extend(.reset-padding);
  font-size: @mdi-font-size !important;
  font-weight: normal !important;

  &.btn {

  }

  &.btn:hover {
    color: #fff;
    background: @bg-hover-info;
  }

  * {
    &:extend(.editor-font-settings);
    &:extend(.reset-margin);
    &:extend(.reset-padding);
    // font-size: calc(@ui-size * 1.2) !important;
    font-weight: normal !important;
    text-align: center !important;
  }

  i {
    &:extend(.font-icon);
    &:extend(.reset-margin);
    &:extend(.reset-padding);
    // font-size: @tool-bar-icon-size !important;
  }
}


.set-bg(@color: @ui-bg) {
  background: @color;
  background-color: @color;
}
.set-bg-important(@color: @ui-bg) {
  .set-bg(@color) !important;
}
