"*":
  "advanced-open-file":
    fuzzyMatch: true
  "atom-autocomplete-php":
    binPhp: "/usr/local/bin/php"
  "autocomplete-php":
    executablePath: "/usr/local/bin/php"
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "enter"
    minimumWordLength: 1
    provider: "FuzzyProvider"
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "command-palette":
    preserveLastSearch: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "deprecation-cop"
    ]
    packagesWithKeymapsDisabled: [
      "tool-bar"
      "autoflow"
      "bookmarks"
      "bracket-matcher"
      "find-and-replace"
      "fuzzy-finder"
      "git-diff"
      "github"
      "go-to-line"
      "grammar-selector"
      "image-view"
      "markdown-preview"
      "notifications"
      "open-on-github"
      "spell-check"
      "styleguide"
      "symbols-view"
      "tree-view"
      "advanced-open-file"
      "project-manager"
      "sort-lines"
      "change-case"
      "emmet"
      "atom-beautify"
      "sass-autocompile"
      "git-plus"
      "atom-autocomplete-php"
      "split-diff"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "RobotoMono-Regular, Menlo, master-icons, Consolas, DejaVu Sans Mono, monospace"
    maxScreenLineLength: 2048
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  emmet:
    extensionsPath: "~/.atom/packages/toolkits/emmet"
  "exception-reporting":
    userId: "f214f68a-9799-402b-a53c-c3814c28ba21"
  "find-and-replace":
    liveSearchMinimumCharacters: 1
  "fuzzy-finder":
    searchAllPanes: true
  "git-plus":
    commits:
      verboseCommits: true
    diffs:
      useSplitDiff: true
    general: {}
  "markdown-preview":
    breakOnSingleNewline: true
  "one-dark-ui":
    hideDockButtons: true
  "project-manager":
    showPath: false
    sortBy: "title"
  "remote-sync":
    foldLogPanel: true
  "sass-autocompile":
    compileOnSave: false
  "split-diff":
    ignoreWhitespace: true
    syncHorizontalScroll: true
    turnOffSoftWrap: true
  "symbols-view":
    quickJumpToFileSymbol: false
  tabs:
    displayMruTabList: false
    enableMruTabSwitching: false
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-$"
".css.scss.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…-"
".css.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…-"
".sass.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…-"
