"*":
  _dart:
    _firstRun: true
    _version: "1.0.1"
  "advanced-open-file":
    fuzzyMatch: true
  "aligner-css": {}
  "atom-autocomplete-php": {}
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnType: false
    "atom-ide-datatip":
      datatipDebounceDelay: 100
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
      showDirectoryColumn: true
    "atom-ide-terminal":
      allowTransparency: true
      cursorBlink: true
      fontFamily: "iAWriterMonoV-Regular, Menlo, master-icons, monospace"
    use:
      "atom-ide-code-format": "never"
      "atom-ide-code-highlight": "never"
      hyperclick: "never"
  "atom-toolbar":
    visible: false
  "autocomplete-php":
    executablePath: "/usr/local/bin/php"
  "autocomplete-plus":
    autoActivationDelay: 100
    backspaceTriggersAutocomplete: true
    confirmCompletion: "enter"
    enableExtendedUnicodeSupport: true
    minimumWordLength: 1
    provider: "FuzzyProvider"
    similarSuggestionRemoval: "textOrSnippet"
  "bracket-matcher":
    highlightMatchingLineNumber: true
  "city-lights-ui":
    fontSize: 12
  "command-palette":
    preserveLastSearch: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    disabledPackages: [
      "background-tips"
      "metrics"
      "deprecation-cop"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "*.cache"
      "*.last-run"
    ]
    packagesWithKeymapsDisabled: [
      "tool-bar"
      "autoflow"
      "bookmarks"
      "bracket-matcher"
      "find-and-replace"
      "fuzzy-finder"
      "git-diff"
      "github"
      "go-to-line"
      "grammar-selector"
      "image-view"
      "markdown-preview"
      "notifications"
      "open-on-github"
      "spell-check"
      "styleguide"
      "symbols-view"
      "tree-view"
      "advanced-open-file"
      "project-manager"
      "sort-lines"
      "change-case"
      "emmet"
      "atom-beautify"
      "sass-autocompile"
      "git-plus"
      "atom-autocomplete-php"
      "split-diff"
      "aligner"
      "hyperclick"
      "ide-haskell"
      "intentions"
      "pinegrow-atom"
      "pin-url"
      "pinned-tabs"
    ]
    reopenProjectMenuCount: 5
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
    titleBar: "hidden"
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "iAWriterMonoV-Regular, Menlo, master-icons, monospace"
    maxScreenLineLength: 4096
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  emmet:
    extensionsPath: "~/.atom/packages/toolkits/emmet"
  "exception-reporting":
    userId: "f214f68a-9799-402b-a53c-c3814c28ba21"
  "file-icons":
    coloured: false
    strategies: {}
    tabPaneIcon: false
  "find-and-replace":
    liveSearchMinimumCharacters: 1
  "fuzzy-finder":
    ignoredNames: [
      ".git"
      "._*"
      "*.db"
      "*.log"
      "*.md"
      ".DS_Store"
    ]
    preserveLastSearch: true
    searchAllPanes: true
  "git-plus":
    commits:
      verboseCommits: true
    diffs:
      useSplitDiff: true
    general:
      enableStatusBarIcon: false
  hyperclick:
    darwinTriggerKeys: "altKey"
  "ide-css":
    additionalGrammars: [
      "source.css.sass"
      "source.css.tyls"
      "source.css.scss"
      "source.css.less"
    ]
  "ide-html":
    additionalGrammars: [
      "text.html.php.blade"
    ]
  "linter-ui-default":
    hidePanelWhenEmpty: false
    panelHeight: 300
    showProviderName: true
  "markdown-preview":
    breakOnSingleNewline: true
    openPreviewInSplitPane: false
    useGitHubStyle: true
  "one-dark-ui":
    hideDockButtons: true
  "pin-url":
    links: "[{\"name\":\"Config 1\",\"label\":\"\",\"link\":\"https://github.com/nopphasinara\",\"color\":\"#00f900\"}]"
  "pinned-tabs":
    animated: false
  "project-manager":
    showPath: false
    sortBy: "title"
  "remote-sync":
    foldLogPanel: true
  "sass-autocompile":
    compileOnSave: false
  "split-diff":
    ignoreWhitespace: true
    muteNotifications: true
    syncHorizontalScroll: true
    turnOffSoftWrap: true
  "symbols-view":
    quickJumpToFileSymbol: false
  tabs:
    displayMruTabList: false
    enableMruTabSwitching: false
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-"
".css.scss.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…-"
".css.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…-"
".sass.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#%^&*|+=[]{}`?…-"
