# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

## Snippets for all providers

## Body
'body, .platform-darwin, atom-workspace':
  ## Unset first!
  'shift-ctrl-tab':                     'unset!'
  'ctrl-tab':                           'unset!'
  'alt-cmd-i':                          'unset!'
  'cmd--':                              'unset!'
  'cmd-_':                              'unset!'
  'cmd-=':                              'unset!'
  'cmd-+':                              'unset!'
  'cmd-.':                              'unset!'
  'cmd-\\':                             'unset!'
  'alt-cmd-\\':                         'unset!'
  ## New snippets
  'ctrl-left':                          'pane:show-previous-item'
  'ctrl-right':                         'pane:show-next-item'
  'cmd-,':                              'settings-view:open'
  'cmd-. g p m':                        'git-plus:menu'
  'cmd-. g c':                          'git-plus:commit'
  'cmd-. g s':                          'git-plus:status'
  'cmd-. g a':                          'git-plus:add'
  'cmd-. g a a c':                      'git-plus:add-all-and-commit'
  'cmd-. g a a c p':                    'git-plus:add-all-commit-and-push'
  'cmd-. g a c p':                      'git-plus:add-and-commit-and-push'
  'cmd-. s y m':                        'atom-ctags:toggle-project-symbols'
  'shift-cmd-o':                        'project-manager:list-projects'
  'shift-cmd-P':                        'command-palette:toggle'
  'ctrl-g':                             'go-to-line:toggle'
  # Toggle views by default
  'ctrl-alt-cmd-\\':                    'fn:show-favorite'


## Order elements by level
# body, .platform-darwin, atom-workspace
# atom-text-editor
# Etc.
#
## Platform darwin > Platformio ide terminal terminal
'.platform-darwin .platformio-ide-terminal':
  'cmd-n': 'platformio-ide-terminal:new'
  'cmd-x': 'fn:terminal-close'
  'shift-cmd-x': 'fn:terminal-close-all'
  'cmd-c': 'platformio-ide-terminal:copy'
  'cmd-v': 'platformio-ide-terminal:paste'


## Atom workspace
'.platform-darwin atom-workspace, atom-workspace':
  ## Unset first!
  'shift-cmd-u':                        'unset!'
  'alt-cmd-t':                          'unset!'
  'ctrl-alt-c':                         'unset!'
  'ctrl-alt-d':                         'unset!'
  ## New snippets
  'shift-cmd-r':                        'window:reload'
  'cmd-. c o n n':                      'remote-ftp:connect'
  'cmd-. d o n n':                      'remote-ftp:disconnect'
  'cmd-. u p':                          'remote-ftp:upload-active'
  'cmd-. a b':                          'remote-ftp:abort-current'
  'cmd-. f t p':                        'remote-ftp:create-ftp-config'
  'cmd-. s f t p':                      'remote-ftp:create-sftp-config'
  'cmd-. i g f':                        'remote-ftp:create-ignore-file'
  'cmd-. a b':                          'remote-ftp:abort-current'
  'cmd-p':                              'fuzzy-finder:toggle-file-finder'
  'cmd-f':                              'find-and-replace:show'


## Atom workspace > Atom pane
'atom-workspace atom-pane':
  ## Unset first!
  'alt-cmd-=':                          'unset!'
  'alt-cmd--':                          'unset!'
  ## New snippets

## Atom workspace, Atom workspace > Atom text editor
'atom-workspace, atom-workspace atom-text-editor':
  ## Unset first!
  'ctrl-shift-M':                       'unset!'
  'ctrl-shift-M':                       'unset!'
  ## New snippets

## Atom workspace > Atom text editor not mini
'atom-workspace, atom-workspace atom-text-editor:not([mini])':
  ## Unset first!
  'alt-cmd-[':                          'unset!'
  'alt-cmd-]':                          'unset!'
  ## New snippets


## Atom text editor
'atom-text-editor':
  ## Unset first!
  'ctrl-shift-L':                       'unset!'
  'shift-cmd-;':                        'unset!'
  'cmd-:':                              'unset!'
  ## New snippets
  'cmd-o':                              'symbols-view:toggle-file-symbols'
  'cmd-. g m s':                        'grammar-selector:show'
  'cmd-. m d p':                        'markdown-preview:toggle'
  'cmd-. o l':                          'link:open'
  'cmd-e':                              'editor:join-lines'

## Atom text editor & Autocomplete activate
'atom-text-editor.autocomplete-active':
  ## Unset first!
  'tab':                                'unset!'
  'home':                               'unset!'
  'end':                                'unset!'
  'pageup':                             'unset!'
  'pagedown':                           'unset!'
  ## New snippets
  'escape':                             'autocomplete-plus:cancel'
  'shift-up':                           'autocomplete-plus:move-up'
  'shift-down':                         'autocomplete-plus:move-down'
  'ctrl-shift-a':                       'autocomplete-plus:confirm'

## Atom text editor not mini
'atom-text-editor:not([mini])':
  ## Unset first!
  ## New snippets
  'cmd-j':                              'editor:duplicate-lines'
  'shift-cmd-j':                        'editor:delete-line'
  'ctrl-cmd-up':                        'editor:move-line-up'
  'ctrl-cmd-down':                      'editor:move-line-down'
  'cmd-enter':                          'editor:newline-above'
  'shift-enter':                        'editor:newline-below'
  'enter':                              'snippets:expand'
  'ctrl-tab':                           'snippets:next-tab-stop'
  'shift-ctrl-tab':                     'snippets:previous-tab-stop'
  'alt-up':                             'editor:upper-case'
  'alt-down':                           'editor:lower-case'
  'cmd-l':                              'editor:select-line'
  'shift-ctrl-up':                      'editor:add-selection-above'
  'shift-ctrl-down':                    'editor:add-selection-below'
  'shift-backspace':                    'fn:delete-right'
  'shift-delete':                       'fn:delete-right'
  'shift-space':                        'fn:space-right'
  'shift-tab':                          'fn:indent-right'
  'cmd-g':                              'find-and-replace:find-next'
  'shift-cmd-G':                        'find-and-replace:find-previous'
  'cmd-d':                              'find-and-replace:select-next'
  'shift-cmd-d':                        'find-and-replace:select-previous'
  ##
  'cmd-backspace':                      'fn:delete-line-above'
  'shift-cmd-backspace':                'fn:delete-line-below'


## Tree view
'.tree-view':
  ## Unset first!
  'f2':                                 'unset!'
  ## New snippets
  'm':                                  'tree-view:move'
  'a':                                  'tree-view:add-file'
  'shift-a':                            'tree-view:add-folder'
  'd':                                  'tree-view:duplicate'
  'backspace':                          'tree-view:remove'
  'delete':                             'tree-view:remove'
