'html,
body,
body atom-workspace,
body .workspace,
body atom-text-editor,
body .editor,
.platform-darwin,
.platform-darwin atom-workspace,
.platform-darwin .workspace,
.platform-darwin atom-text-editor,
.platform-darwin .editor,
atom-workspace,
.workspace,
atom-workspace atom-text-editor,
.workspace .editor,
atom-text-editor,
.editor':
  'shift-ctrl-tab'   : 'unset!'
  'ctrl-home'        : 'unset!'
  'ctrl-end'         : 'unset!'
  'ctrl-pageup'      : 'unset!'
  'ctrl-pagedown'    : 'unset!'
  'ctrl-tab'         : 'unset!'
  'ctrl-down'        : 'unset!'
  'ctrl-up'          : 'unset!'
  'ctrl-left'        : 'unset!'
  'ctrl-right'       : 'unset!'
  'ctrl-alt-cmd-p'   : 'unset!'
  'ctrl-cmd-f'       : 'unset!'
  'alt-cmd--'        : 'unset!'
  'alt-cmd-_'        : 'unset!'
  'alt-cmd-='        : 'unset!'
  'alt-cmd-+'        : 'unset!'
  'cmd-.'            : 'unset!'
  'cmd-k'            : 'unset!'
  'cmd-1'            : 'unset!'
  'cmd-2'            : 'unset!'
  'cmd-3'            : 'unset!'
  'cmd-4'            : 'unset!'
  'cmd-5'            : 'unset!'
  'cmd-6'            : 'unset!'
  'cmd-7'            : 'unset!'
  'cmd-8'            : 'unset!'
  'cmd-9'            : 'unset!'
  'cmd-0'            : 'unset!'
  'cmd-+'            : 'unset!'
  'cmd--'            : 'unset!'
  'cmd-='            : 'unset!'
  'cmd-_'            : 'unset!'
  'cmd-l'            : 'unset!'
  'home'             : 'unset!'
  'end'              : 'unset!'
  'pageup'           : 'unset!'
  'pagedown'         : 'unset!'
  'ctrl-p'           : 'unset!'
  'ctrl-n'           : 'unset!'
  'ctrl-i'           : 'unset!'
  'ctrl-k'           : 'unset!'
  'ctrl-l'           : 'unset!'

  'alt-cmd-p'   : 'project-manager:edit-projects'
  'shift-cmd-R' : 'window:reload'
  'cmd-o'       : 'advanced-open-file:toggle'
  'shift-tab'        : 'editor:auto-indent'
  'shift-ctrl-left'  : 'pane:move-item-left'
  'shift-ctrl-right' : 'pane:move-item-right'
  'shift-cmd-T'      : 'pane:reopen-closed-item'
  'shift-cmd-N'      : 'application:new-window'
  'shift-cmd-S'      : 'application:add-project-folder'
  'shift-cmd-I'      : 'settings-view:install-packages-and-themes'
  'alt-tab'          : 'editor:auto-indent'
  'alt-cmd-down'     : 'window:focus-pane-below'
  'alt-cmd-up'       : 'window:focus-pane-above'
  'alt-cmd-left'     : 'window:focus-pane-on-left'
  'alt-cmd-right'    : 'window:focus-pane-on-right'
  'alt-cmd-i'        : 'window:toggle-dev-tools'
  'alt-cmd-o'        : 'tree-view:show-current-file-in-file-manager'
  'alt-cmd-g'        : 'open-on-github:repository'
  'alt-cmd-f'        : 'open-on-github:file'
  'cmd-{'            : 'pane:show-previous-item'
  'cmd-}'            : 'pane:show-next-item'
  'cmd-escape'       : 'tree-view:reveal-active-file'
  'ctrl-escape'      : 'tree-view:toggle-focus'


'.platform-darwin':
  'shift-cmd-O': 'project-manager:list-projects'


'.platform-darwin atom-workspace,
.platform-darwin .workspace,
atom-workspace,
.workspace':
  '': ''


'.platform-darwin atom-text-editor,
.platform-darwin .editor,
atom-workspace atom-text-editor,
atom-workspace .editor,
.workspace atom-text-editor,
.workspace .editor':
  'alt-cmd-a': 'alignment'


'.platform-darwin atom-text-editor:[mini],
.platform-darwin .editor:[mini],
atom-workspace atom-text-editor:[mini],
atom-workspace .editor:[mini],
.workspace atom-text-editor:[mini],
.workspace .editor:[mini]':
  '': ''


'.platform-darwin atom-text-editor:not([mini]),
.platform-darwin .editor:not([mini]),
atom-workspace atom-text-editor:not([mini]),
atom-workspace .editor:not([mini]),
.workspace atom-text-editor:not([mini]),
.workspace .editor:not([mini])':
  'cmd-backspace': 'editor:delete-line'
  'f11': 'remote-sync:download-file'
  'shift-f11': 'remote-sync:upload-file'


'.project-manager input':
  'enter': 'core:confirm'
