'body':
  'shift-cmd-o': 'project-manager:list-projects'
  'shift-cmd-a': 'application:add-project-folder'

'atom-workspace':
  'ctrl-c ctrl-b': 'multiline-bracket:apply'

'.platform-darwin':
  'cmd-alt-f': 'unset!'
  'cmd-t': 'unset!'
  'shift-cmd-b': 'unset!'
  'cmd-p': 'fuzzy-finder:toggle-file-finder'
  'cmd-b': 'fuzzy-finder:toggle-buffer-finder'
  'shift-cmd-escape': 'tree-view:reveal-active-file'
  'cmd-escape': 'tree-view:toggle-focus'
  'ctrl-shift-cmd-r': 'dev-live-reload:reload-all'
  'shift-cmd-r': 'window:reload'
  'shift-cmd-f': 'project-find:show'
  'cmd-f': 'find-and-replace:show'
  'ctrl-g': 'go-to-line:toggle'
  # 'shift-cmd-o': 'project-plus:toggle-project-finder'
  'shift-cmd-o': 'project-manager:list-projects'
  'alt-cmd-p': 'project-manager:edit-projects'
  'alt-cmd-left': 'window:focus-previous-pane'
  'alt-cmd-right': 'window:focus-next-pane'
  'shift-ctrl-p': 'markdown-preview:toggle'

# '.project-manager input':
#   'enter': 'core:confirm'

'.platform-darwin atom-text-editor':
  'alt-cmd-p': 'unset!'
  'cmd-f3': 'unset!'
  'cmd-shift-f3': 'unset!'
  'cmd-alt-e': 'unset!'
  'cmd-e': 'unset!'
  'cmd-k cmd-d': 'unset!'
  'ctrl-shift-u': 'unset!'
  'cmd-\.': ''
  # 'cmd-\.': 'editor:log-cursor-scope'
  'ctrl-alt-cmd-g': 'grammar-selector:show'
  'ctrl-shift-o': 'link:open'
  'cmd-alt-o': 'link:open'
  'cmd-r': 'symbols-view:toggle-file-symbols'
  'alt-cmd-d': 'find-and-replace:select-all'
  'cmd-d': 'find-and-replace:select-next'
  'cmd-g': 'find-and-replace:find-next'
  'shift-cmd-g': 'find-and-replace:find-previous'
  'cmd-u': 'find-and-replace:select-undo'
  'ctrl-c': 'gc:copy'
  'ctrl-v': 'gc:paste'
  'alt-4': 'gc:tab-stop'
  'alt-,': 'gc:tab-stop'
  'cmd-;': 'gc:tab-stop'
  # 'f11': 'remote-sync-pro:download-file'
  'f11': 'remote-sync:download-file'
  # 'shift-f11': 'remote-sync-pro:upload-file'
  'shift-f11': 'remote-sync:upload-file'
  'alt-cmd-a': 'aligner:align'
  'alt-cmd-tab': 'editor:auto-indent'


'.go-to-line atom-text-editor[mini]':
  'cmd-w': 'unset!'
  'enter': 'core:confirm'
  'escape': 'core:cancel'
  # 'shift-enter': 'project-manager:alt-confirm'

'.platform-darwin atom-text-editor:not([mini])':
  'cmd-e': 'emmet:balance-inward'
  'shift-cmd-e': 'emmet:balance-outward'

'atom-text-editor:not([mini])':
  'ctrl-shift-k': 'unset!'
  'alt-\[': 'gc:blade-e'
  'alt-\]': 'gc:blade-echo'
  'alt-1': 'gc:blade-echo'
  'alt-,': 'gc:php-echo'
  'alt-.': 'gc:php-echo'
  'alt-\'': 'gc:dots'
  'alt-\"': 'gc:ddots'
  'alt-\=': 'gc:plus'
  'alt-\+': 'gc:dplus'
  'alt-space': 'gc:spaces'
  'shift-alt-space': 'gc:insert-space'
  'alt-0': 'gc:insert-parenthesis'
  'alt-9': 'gc:insert-parenthesis'
  'shift-alt-enter': 'gc:insert-p'
  'alt-enter': 'gc:insert-br'
  'cmd-?': 'gc:html-comment'
  'alt-/': 'gc:block-comment'
  'alt-?': 'gc:inline-comment'
  'alt-cmd-enter': 'gc:insert-linebreak'
  'shift-enter': 'emmet:expand-abbreviation'
  'ctrl-backspace': 'emmet:remove-tag'
  'ctrl-shift-c': 'emmet:evaluate-math-expression'
  'ctrl-shift-j': 'emmet:merge-lines'
  'ctrl-shift-u': 'emmet:update-tag'
  'ctrl-shift-w': 'emmet:wrap-with-abbreviation'
  'ctrl-shift-m': 'emmet:matching-pair'
  'alt-e': 'emmet:select-next-item'
  'shift-alt-e': 'emmet:select-previous-item'
  'alt-down': 'emmet:next-edit-point'
  'alt-up': 'emmet:prev-edit-point'
  'alt-tab': 'emmet:next-edit-point'
  'shift-alt-tab': 'emmet:prev-edit-point'
  'alt-cmd-c': 'editor:copy-path'
  'ctrl-cmd-o': 'tree-view:show-current-file-in-file-manager'
  # 'ctrl-b': 'bracket-matcher:select-inside-brackets'
  'ctrl-b': 'gc:select-outside-bracket'
  'cmd-\.': 'gc:select-outside-bracket'
  'home': 'core:move-to-top'
  'end': 'core:move-to-bottom'
  'shift-home': 'core:select-to-top'
  'shift-end': 'core:select-to-bottom'
  'ctrl-cmd-c': 'gc:copy-filename'
  # '. ,': 'gc:insert-property'
  # '. ;': 'gc:insert-property-object'
  # 'shift-. shift-;': 'gc:insert-property-array'


'atom-text-editor':
  'cmd-backspace': 'editor:delete-line'
  'ctrl-escape': 'autocomplete-plus:activate'
  # 'key1': 'html-entitize:encode'
  # 'key2': 'html-entitize:decode'
  'ctrl-b': 'bracket-matcher:select-inside-brackets'
  'cmd-shift-x': 'autoprefixer'


'.platform-darwin .tree-view':
  'cmd-c': 'tree-view:copy'
  'cmd-x': 'tree-view:cut'
  'cmd-v': 'tree-view:paste'
  'enter': 'tree-view:expand-item'
  'right': 'tree-view:expand-item'
  'left': 'tree-view:collapse-directory'

'.tree-view':
  'escape': 'tree-view:unfocus'
  'alt-cmd-c': 'tree-view:copy-full-path'
  'r': 'tree-view:rename'
  'm': 'tree-view:move'
  'a': 'tree-view:add-file'
  'shift-a': 'tree-view:add-folder'
  'd': 'tree-view:duplicate'
  'backspace': 'tree-view:remove'
  'up': 'core:move-up'
  'down': 'core:move-down'
  'alt-cmd-o': 'tree-view:show-in-file-manager'

'.tree-view-dialog atom-text-editor[mini]':
  'enter': 'core:confirm'
  'escape': 'core:cancel'

'.archive-editor':
  'up': 'core:move-up'
  'down': 'core:move-down'

'atom-text-editor.autocomplete-active':
  'escape': 'autocomplete-plus:cancel'

'.platform-darwin .find-and-replace':
  'alt-cmd-/': 'unset!'
  'alt-cmd-r': 'find-and-replace:toggle-regex-option'
  'alt-cmd-c': 'project-find:toggle-case-option'
  'alt-cmd-w': 'project-find:toggle-whole-word-option'
  'alt-cmd-s': 'find-and-replace:toggle-selection-option'
  'shift-enter': 'find-and-replace:show-previous'
  'cmd-enter': 'find-and-replace:confirm'
  'alt-enter': 'find-and-replace:find-all'

'.platform-darwin .project-find':
  'alt-cmd-/': 'unset!'
  'alt-cmd-r': 'find-and-replace:toggle-regex-option'
  'alt-cmd-c': 'project-find:toggle-case-option'
  'alt-cmd-w': 'project-find:toggle-whole-word-option'
  'cmd-enter': 'project-find:confirm'

'.find-and-replace, .project-find, .project-find .results-view':
  'tab': 'find-and-replace:focus-next'
  'shift-tab': 'find-and-replace:focus-previous'

'.platform-darwin .find-and-replace .replace-container atom-text-editor':
  'cmd-enter': 'find-and-replace:replace-all'

'.platform-darwin .project-find .replace-container atom-text-editor':
  'cmd-enter': 'project-find:replace-all'

'.results-view':
  'home': 'core:move-to-top'
  'ctrl-home': 'core:move-to-top'
  'end': 'core:move-to-bottom'
  'ctrl-end': 'core:move-to-bottom'

'.fuzzy-finder atom-text-editor[mini]':
  'shift-enter': 'unset!'


'.platform-darwin atom-workspace':
  'cmd-o': 'advanced-open-file:toggle'

'.advanced-open-file atom-text-editor':
  'tab': 'advanced-open-file:autocomplete'
  'up': 'advanced-open-file:move-cursor-up'
  'down': 'advanced-open-file:move-cursor-down'
  'pageup': 'advanced-open-file:move-cursor-top'
  'pagedown': 'advanced-open-file:move-cursor-bottom'
  'cmd-backspace': 'advanced-open-file:delete-path-component'

'.platform-darwin .advanced-open-file atom-text-editor':
  'cmd-z': 'advanced-open-file:undo'


'.platform-darwin atom-workspace atom-text-editor:not(.mini)':
  'alt-cmd-s': 'sass-autocompile:compile-to-file'
  'shift-alt-cmd-s': 'sass-autocompile:compile-direct'


'atom-text-editor.has-livestyle-widget':
  'escape': 'livestyle:hide-widget'

'livestyle-outline':
  'backspace': 'native!'
