[
  {
    title: ".atom"
    group: "Atom"
    paths: [
      "~/.atom"
    ]
  }
  {
    title: ".atom-dev"
    group: "Atom"
    paths: [
      "/Volumes/Storage/Projects/atom-dev"
    ]
  }
  {
    title: "Karabiner"
    group: "Dotfiles"
    paths: [
      "/Volumes/Storage/Projects/dotfiles/config/karabiner"
    ]
  }
  {
    title: "dotzsh"
    group: "Dotzsh"
    paths: [
      "/Volumes/Storage/Projects/dotzsh"
      "/Volumes/Storage/Projects/others/cliclick"
      "/Volumes/Storage/Projects/controls"
    ]
  }
  {
    title: "lodash"
    group: "CommandLine"
    paths: [
      "/Volumes/Storage/Projects/npm-packages/lodash"
      "/Users/sudprawat/Library/BlueStacks/Uninstaller.bundle"
    ]
  }
  {
    title: "cheatsheets"
    group: "Github"
    paths: [
      "/Volumes/Storage/Projects/github/cheatsheets"
    ]
  }
  {
    title: "dashboard.reproduction-gallery.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/reproduction-gallery.local/dashboard"
    ]
  }
  {
    title: "dashboard.reproduction-gallery.com/admin"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/dashboard.reproduction-gallery.com/admin"
    ]
  }
  {
    title: "reproduction-galleries.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/reproduction-galleries.com"
    ]
  }
  {
    title: "wp.reproduction-galleries.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/reproduction-galleries.com/wp.reproduction-galleries.com"
    ]
  }
  {
    title: "reproduction-studio.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/reproduction-studio.com"
    ]
  }
  {
    title: "modern-art-reproductions.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/modern-art-reproductions.com"
    ]
  }
  {
    title: "reproduction-gallery.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/reproduction-gallery.com"
    ]
  }
  {
    title: "redis-tools"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/reproduction-gallery.com/redis-tools"
    ]
  }
  {
    title: "staging3.reproduction-gallery.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/staging3.reproduction-gallery.com"
    ]
  }
  {
    title: "museum-reproductions.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/museum-reproductions.com"
    ]
  }
  {
    title: "soho-art.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/soho-art.com/httpdocs"
    ]
  }
  {
    title: "oshjosh.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/oshjosh.com"
      "/Volumes/Storage/Projects/controls"
    ]
  }
  {
    title: "laravel.local"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/laravel.local"
    ]
  }
]
