[
  {
    title: ".atom"
    group: "Atom"
    paths: [
      "~/.atom"
    ]
  }
  {
    title: ".atom-dev"
    group: "Atom"
    paths: [
      "/Volumes/Storage/Projects/atom-dev"
    ]
  }
  {
    title: "Storage"
    group: "Storage"
    paths: [
      "/Volumes/Storage"
    ]
  }
  {
    title: "Projects"
    group: "Projects"
    paths: [
      "/Volumes/Storage/Projects"
    ]
  }
  {
    title: "dotzsh"
    group: "Dotzsh"
    paths: [
      "/Volumes/Storage/Projects/dotzsh"
      "/Volumes/Storage/Projects/others/cliclick"
      "/Volumes/Storage/Projects/others/applescripts/Launch Google Chrome Canary.app"
    ]
  }
  {
    title: "lodash"
    group: "CommandLine"
    paths: [
      "/Volumes/Storage/Projects/npm-packages/lodash"
    ]
  }
  {
    title: "github"
    group: "Github"
    paths: [
      "/Volumes/Storage/Projects/github"
    ]
  }
  {
    title: "happymishra__JavaScriptTutorials"
    group: "Github"
    paths: [
      "/Volumes/Storage/Projects/github/happymishra__JavaScriptTutorials"
    ]
  }
  {
    title: "atom-extended"
    group: "NPM"
    paths: [
      "/Volumes/Storage/Projects/npm-packages/atom-extended"
    ]
  }
  {
    title: "chromeawesome"
    group: "NPM"
    paths: [
      "/Volumes/Storage/Projects/npm-packages/chromeawesome"
    ]
  }
  {
    title: "chrome-extended"
    group: "NPM"
    paths: [
      "/Volumes/Storage/Projects/npm-packages/chrome-extended"
    ]
  }
  {
    title: "atom-awesome"
    group: "NPM"
    paths: [
      "/Volumes/Storage/Projects/npm-packages/atom-awesome"
    ]
  }
  {
    title: "atom-awesome-utils"
    group: "NPM"
    paths: [
      "/Volumes/Storage/Projects/npm-packages/atom-awesome-utils"
    ]
  }
  {
    title: "chrome-snippets"
    group: "NPM"
    paths: [
      "/Volumes/Storage/Projects/npm-packages/chrome-snippets"
    ]
  }
  {
    title: "others/firefox/goldfish"
    group: "NPM"
    paths: [
      "/Volumes/Storage/Projects/others/firefox/goldfish"
    ]
  }
  {
    title: "awesome-atom"
    group: "NPM"
    paths: [
      "/Volumes/Storage/Projects/npm-packages/awesome-atom"
    ]
  }
  {
    title: "NPM Packages"
    group: "NPM"
    paths: [
      "/Volumes/Storage/Projects/npm-packages"
    ]
  }
  {
    title: "reproduction-galleries.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/reproduction-galleries.com"
    ]
  }
  {
    title: "reproduction-gallery.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/reproduction-gallery.com"
    ]
  }
  {
    title: "por.reproduction-gallery.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/por.reproduction-gallery.com"
    ]
  }
  {
    title: "template.reproduction-gallery.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/reproduction-studio.com/template"
    ]
  }
  {
    title: "staging.reproduction-gallery.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/staging.reproduction-gallery.com"
    ]
  }
  {
    title: "staging3.reproduction-studio.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/staging3.reproduction-studio.com"
    ]
  }
  {
    title: "por.reproduction-studio.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/por.reproduction-studio.com"
    ]
  }
  {
    title: "woo.reproduction-studio.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/woo.reproduction-studio.com"
    ]
  }
  {
    title: "test.reproduction-studio.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/test.reproduction-studio.com"
    ]
  }
  {
    title: "laravel.reproduction-studio.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/laravel.reproduction-studio.com"
    ]
  }
  {
    title: "laravel.local"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/laravel.local"
    ]
  }
  {
    title: "la.โต๊ะจีนชลบุรี.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/la.โต๊ะจีนชลบุรี.com"
    ]
  }
  {
    title: "woocommerce.local"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/woocommerce.local"
    ]
  }
  {
    title: "reservation.local"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/reservation.local"
    ]
  }
  {
    title: "reservation2.local"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/reservation2.local"
    ]
  }
  {
    title: "stocky.local"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/stocky.local"
    ]
  }
  {
    title: "thaicameragirl.com"
    group: "WWW"
    paths: [
      "/Volumes/Storage/www/thaicameragirl.com"
    ]
  }
  {
    title: "applescript"
    group: "AppleScript"
    paths: [
      "/Volumes/Storage/Projects/github/applescript"
    ]
    icon: "icon-apple"
    color: "#5ae991"
  }
  {
    title: "Google Drives"
    group: "Drives"
    paths: [
      "/Volumes/Drives/Dropbox"
      "/Volumes/Drives/Google Drives"
    ]
    icon: "icon-apple"
    color: "#5ae991"
  }
]
