# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

## Snippet for all providers
'*':
  'New snippet':
    'prefix': 'newsnippet'
    'body': """
    '$1':
      'prefix': '$2'
      'body': $3
    """
  '# comment':
    'prefix': '#1'
    'body': '# ${1:comment}'
  '## comment':
    'prefix': '#2'
    'body': '## ${1:comment}'
  'unset!':
    'prefix': 'unset'
    'body': 'unset!'


## Text html, Text html php
'.text.html, .text.html.php':
  '<?php...?>':
    'prefix': 'php'
    'body': '<?php$1?>$0'
  'DIV':
    'prefix': 'div'
    'body': '<div class="$1">$2</div>$0'
  'DIV Block':
    'prefix': 'divblock'
    'body': """
    <div class="$1">
      $2
    </div><!-- /.$1 -->
    """
  'DIV with ID':
    'prefix': 'divid'
    'body': '<div id="$1" class="$2">$3</div>$0'
  'DIV Block with ID':
    'prefix': 'dividblock'
    'body': """
    <div id="$1" class="$2">
      <div class="$2-container">
        $3
      </div><!-- /.$2-container -->
    </div><!-- /.$2 -->
    """
  'Bootstrap Panel':
    'prefix': 'bootstrappanel'
    'body': """
    <div class="panel$2">
      <div class="panel-heading">
        <h3 class="panel-title">$3</h3>
      </div>
      <div class="panel-body">
        $4
      </div>
    </div>$1
    """
  'Bootstrap Panel with Footer':
    'prefix': 'bootstrappanelfooter'
    'body': """
    <div class="panel$2">
      <div class="panel-heading">
        <h3 class="panel-title">$3</h3>
      </div>
      <div class="panel-body">
        $4
      </div>
      <div class="panel-footer">
        $5
      </div>
    </div>$1
    """


## Source coffee
'.source.coffee':
  'spacer':
    'prefix': 'spacer'
    'body': '{ type: "spacer" }$0'
  'button':
    'prefix': 'button'
    'body': """
    {
      tooltip: "$1"
      callback: "$2"
      iconset: "fa", icon: "$3"
      type: "button"
    }$0
    """
  'url':
    'prefix': 'url'
    'body': """
    {
      tooltip: "$1"
      callback: "$2"
      iconset: "fa", icon: "$3"
      type: "url"
      url: "$4"
    }$0
    """
