'.source.php':
  'print_r()':
    'description': 'description…'
    'prefix': 'pr'
    'body': '''
    echo \\'<pre>\\'; print_r(${1:\\$var}); echo \\'</pre>\\';$0
    '''

  'if':
    'prefix': 'if'
    'body': '''
    if (${1:condition}) {
      $2
    }$0
    '''
