/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */
.tree-view::before,
.tab-bar:before,
.tab.active:before {
  display: none;
}

atom-panel-container.header {
  height: auto !important;
  line-height: normal !important;
  background-color: #242732 !important;
  border-bottom: none !important;

  atom-panel.header,
  atom-panel.header .title-bar,
  atom-panel.header .title-bar .title {
    height: auto !important;
    line-height: normal !important;
    background-color: transparent !important;
    border-bottom: none !important;
  }

  atom-panel.header .title-bar {
    height: 30px !important;
    margin-top: -3px !important;
    padding: 0 0 2px 0 !important;
    border-bottom: solid 1px #353849 !important;

    .title {
      color: #9aa0b6 !important;
    }
  }
}

atom-workspace-axis.horizontal {
  padding-top: 2px !important;

  atom-workspace-axis.vertical {
    background-color: #2b2e3b !important;

    .tab-bar {
      background-color: transparent !important;

      .close-icon {
        cursor: pointer !important;
      }

      .tab {
        background-color: transparent !important;
        cursor: pointer !important;

        &::after {
          background-color: transparent !important;
          border-bottom: solid 1px #242732 !important;
        }

        &.active {
          background-color: #242732 !important;

          .title {
            background-color: transparent !important;
          }
        }

        .title {
          background-color: transparent !important;
        }
      }
    }
  }
}

atom-text-editor {
  background-color: #242732 !important;

  .gutter {
    background-color: #242732 !important;
  }

  ::-webkit-scrollbar {
    background-color: transparent !important;
  }
  ::-webkit-scrollbar-corner {
    background-color: #242732 !important;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3c4052 !important;
    border-color: #242732 !important;
  }
  ::-webkit-scrollbar-track {
    background-color: #242732 !important;
  }
}

.tool-bar {
  height: auto !important;
  line-height: normal !important;
  margin: 0 0 0 0 !important;
  padding: 0 !important;
  background-color: #242732 !important;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 6, .32) !important;
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 6, .32) !important;
      -ms-box-shadow: 0 1px 2px rgba(0, 0, 6, .32) !important;
          box-shadow: 0 1px 2px rgba(0, 0, 6, .32) !important;


  .btn {
    color: #9aa0b6 !important;
    background-color: transparent !important;
    background-image: none !important;
  }

  .btn:hover {
    color: #fff !important;
    background-color: #516ccd !important;
  }
}


.status-bar {
  background-color: #353849 !important;
}

.tree-view-resizer {
  background-color: #2b2e3b !important;

  .tree-view {
    background-color: transparent !important;
  }

  ::-webkit-scrollbar {
    background-color: transparent !important;
  }
  ::-webkit-scrollbar-corner {
    background-color: #2b2e3b !important;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3c4052 !important;
    border-color: #2b2e3b !important;
  }
  ::-webkit-scrollbar-track {
    background-color: #2b2e3b !important;
  }
}


.remote-ftp-view.ftptree-view-resizer {
  background-color: #2b2e3b !important;

  .scroller {
    background-color: transparent !important;
  }

  .queue {
    color: #fff !important;
    background-color: #3a553f !important;

    .progress {
      background-color: transparent !important;

      progress {

      }

      .name {

      }

      .eta {

      }
    }

    .list {
      li {

      }
    }
  }

  .offline {
    background-color: transparent !important;

    .btn {
      color: #9aa0b6 !important;
      background-color: #242732 !important;
      border: solid 1px #1a1c24 !important;
      background-image: none !important;
    }

    .btn:hover {
      color: #fff !important;
      background-color: #516ccd !important;
    }
  }

  ::-webkit-scrollbar {
    background-color: transparent !important;
  }
  ::-webkit-scrollbar-corner {
    background-color: #2b2e3b !important;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #3c4052 !important;
    border-color: #2b2e3b !important;
  }
  ::-webkit-scrollbar-track {
    background-color: #2b2e3b !important;
  }
}
