# This file is used by Flex Tool Bar to create buttons on your Tool Bar.
# For more information how to use this package and create your own buttons,
#   read the documentation on https://atom.io/packages/flex-tool-bar

[
  # {
  #   type: "button"
  #   iconset: "fa", icon: "columns"
  #   callback: ["callback1", "callback2"]
  #   disable: [
  #     "json"
  #     "less"
  #   ]
  #   tooltip: "Edit Tool Bar"
  #   style: {
  #     color: "red"
  #     background: "green"
  #     border: "1px solid blue"
  #   }
  # }
  # {
  #   type: "url"
  #   icon: "octoface"
  #   url: "https://github.com/"
  #   tooltip: "Github Page"
  # }
  # {
  #   type: "spacer"
  # }

  {
    tooltip: "List Projects"
    callback: "project-manager:list-projects"
    iconset: "fa", icon: "list"
    type: "button"
  }
  {
    tooltip: "Add Project"
    callback: ["application:add-project-folder"]
    iconset: "fa", icon: "folder-open"
    type: "button"
  }
  {
    tooltip: "Save Project"
    callback: "project-manager:save-project"
    iconset: "fa", icon: "save"
    type: "button"
  }
  # {
  #   tooltip: "Edit Project"
  #   callback: "project-manager:edit-project"
  #   iconset: "fa", icon: "edit"
  #   type: "button"
  # }
  # {
  #   tooltip: "Update Projects"
  #   callback: "project-manager:update-projects"
  #   iconset: "fa", icon: "refresh"
  #   type: "button"
  # }
  {
    tooltip: "Edit Projects"
    callback: "project-manager:edit-projects"
    iconset: "fa", icon: "gears"
    type: "button"
  }
  { type: "spacer" }
  {
    tooltip: "Symbol Tree View"
    callback: "symbols-tree-view:toggle"
    iconset: "fa", icon: "chrome"
    type: "button"
  }
  {
    tooltip: "Expose Toggle"
    callback: "expose:toggle"
    iconset: "fa", icon: "chrome"
    type: "button"
  }
  {
    tooltip: "Node Debugger Toggle"
    callback: "node-debugger:start-resume"
    iconset: "fa", icon: "chrome"
    type: "button"
  }
  {
    tooltip: "Node Debugger Stop"
    callback: "node-debugger:stop"
    iconset: "fa", icon: "chrome"
    type: "button"
  }
  { type: "spacer" }
  {
    tooltip: "Dev Tools"
    callback: "window:toggle-dev-tools"
    iconset: "fa", icon: "chrome"
    type: "button"
  }
  {
    tooltip: "Terminal"
    callback: "platformio-ide-terminal:toggle"
    iconset: "fa", icon: "terminal"
    type: "button"
  }

  # {
  #   tooltip: "Close Project"
  #   callback: "window:close"
  #   iconset: "fa", icon: "close"
  #   type: "button"
  # }
]
