
// Config -----------------------------------
@base:                #353346;
@syntax-hue:          hue(@base);
@syntax-saturation:   saturation(@base);
@syntax-brightness:   lightness(@base);
// @syntax-hue:          220;
// @syntax-saturation:   13%;
// @syntax-brightness:   18%;


// Monochrome -----------------------------------
@mono-1: hsl(@syntax-hue, 14%, 71%); // default text
@mono-2: hsl(@syntax-hue,  9%, 55%);
@mono-3: hsl(@syntax-hue, 10%, 40%);

// Colors -----------------------------------
@hue-1:   hsl(187, 47%, 55%); // <-cyan
@hue-2:   hsl(207, 82%, 66%); // <-blue
@hue-3:   hsl(286, 60%, 67%); // <-purple
@hue-4:   hsl( 95, 38%, 62%); // <-green

@hue-5:   hsl(355, 65%, 65%); // <-red 1
@hue-5-2: hsl(  5, 48%, 51%); // <-red 2

@hue-6:   hsl( 29, 54%, 61%); // <-orange 1
@hue-6-2: hsl( 39, 67%, 69%); // <-orange 2


// Base colors -----------------------------------
@syntax-fg:     @mono-1;
@syntax-bg:     hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter: darken(@syntax-fg, 26%);
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: hsl(@syntax-hue, 100%, 66% );


// background: 2D2B3C, 353346
// selection: 686b76, 443f58
// selection text: a39e9b, 9792ac
// link: 9b7fe8
// cursor: 65ff6b, 6F52FF
// cursor text: 494f60
// magenta: 9a7ee8
// green: 64ec87, 53C090
// blue: 3a99d8, 6490e3
// red: fb605c, FF6346
// white: a39e9b, C9C6D4, bdbac8
// bold: c7c2bf, DDDAE2
// foreground: bdbac8
// @color: #FF6346;
// @hue-5:   hsl(hue(@color), saturation(@color), lightness(@color));
