// Config -----------------------------------
@syntax-hue:          230;
@syntax-saturation:   15%;
@syntax-brightness:   20%;

// Monochrome -----------------------------------
@mono-1: hsl(@syntax-hue, 15%, 70%); // default text
@mono-2: hsl(@syntax-hue,  10%, 55%);
@mono-3: hsl(@syntax-hue, 10%, 40%);

// Colors -----------------------------------
// @hue-1:   hsl(185, 45%, 55%); // cyan
// @hue-2:   hsl(220,  80%, 65%); // blue
// @hue-3:   hsl(285, 60%, 65%); // purple
// @hue-4:   hsl(140,  44%, 60%); // green
// @hue-5:   hsl(355, 65%, 65%); // darkred
// @hue-5-2: hsl(  10, 100%, 65%); // red
// @hue-6:   hsl( 30, 55%, 60%); // orange
// @hue-6-2: hsl( 35,  60%, 70%); // yellow

@custom-hue-1: shade(hsl(185, 45%, 55%), -25); // cyan
@custom-hue-2: shade(hsl(220, 80%, 65%), -15); // blue
@custom-hue-3: shade(hsl(285, 45%, 65%), 20); // purple
@custom-hue-4: shade(hsl(140, 44%, 60%), 5); // green
@custom-hue-5: shade(hsl(350, 57%, 58%), 0); // darkred
@custom-hue-5-2: shade(hsl(350, 57%, 58%), 0); // red
@custom-hue-6: shade(hsl(38, 62%, 54%), -5); // orange
@custom-hue-6-2: shade(hsl(50, 64%, 60%), -5); // yellow

@hue-1: @custom-hue-1;
@hue-2: @custom-hue-2;
@hue-3: @custom-hue-3;
@hue-4: @custom-hue-4;
@hue-5: @custom-hue-5;
@hue-5-2: @custom-hue-5-2;
@hue-6: @custom-hue-6;
@hue-6-2: @custom-hue-6-2;

// Base colors -----------------------------------
@syntax-fg:     @mono-1;
@syntax-bg:     darken(hsl(@syntax-hue, @syntax-saturation, @syntax-brightness), 3%);
@syntax-gutter: darken(@syntax-fg, 25%);
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: @hue-2;
// @syntax-accent: hsl(@syntax-hue, 100%, 65% );
