
// Config -----------------------------------
// @syntax-hue:          220;
// @syntax-saturation:   12%;
// @syntax-brightness:   12%;

@syntax-hue:          214;
@syntax-saturation:   18%;
@syntax-brightness:   20%;

// @syntax-hue: 230;
// @syntax-saturation: 12%;
// @syntax-brightness: 22%;


// Monochrome -----------------------------------
@mono-1: hsl(@syntax-hue, 20%, 82%);
@mono-2: hsl(@syntax-hue, 7%, 74%);
@mono-3: hsl(@syntax-hue, 9%, 40%);

// Colors -----------------------------------
@hue-1: hsl(187, 80%, 68%); // cyan
@hue-2: hsl(219, 80%, 70%); // blue
// @hue-2: hsl(207, 99%, 67%); // blue
@hue-3: hsl(286, 77%, 71%); // purple
@hue-4: hsl(95, 50%, 64%); // green
@hue-5: hsl(355, 93%, 70%); // red1
@hue-5-2: hsl(6, 60%, 54%); // red2
@hue-6: hsl(29, 67%, 63%); // brown
@hue-6-2: hsl(45, 94%, 66%); // beige


// Base colors -----------------------------------
@syntax-fg: @mono-1;
@syntax-bg: hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter: darken(@syntax-fg, 40%);
@syntax-guide: fade(@syntax-fg, 15%);
@syntax-accent: @hue-2;

@import "./custom-colors.less";
