
.generator(@n, @i: 1) when (@i =< @n) {
  @rules();
  .generator(@n, (@i + 1));
}


.for-each(@var, @rules: false, @keys: false) {
  .dr() {
    @length: length(@var);
  }
  .dr() when not (@keys = false) {
    @length: length(@keys);
  }
  .dr();

  .generator(@length);
}


.tool-bar-reset() {
  .tool-bar {
    .tool-bar-spacer,
    button,
    button.tool-bar-btn,
    i,
    & {
      height: @tool-bar-btn-height !important;
      line-height: @tool-bar-btn-height !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      vertical-align: middle !important;
    }

    button,
    button.tool-bar-btn,
    i {
      .font-icons();
      .text-reset();
      width: auto !important;
      min-width: @tool-bar-btn-width !important;
      font-size: @icon-font-size !important;
    }

    button.tool-bar-btn {
      color: @color-light;
      // background: @base-border-color;
      border-width: 0 !important;
      border-radius: 0 !important;

      &:hover {
        color: var(--selected);
        background: var(--info);
      }
    }

    .tool-bar-spacer {
      .border-reset();
      width: 0 !important;
      min-width: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      overflow: hidden !important;
      border-color: var(--subtle) !important;
    }
  }
}


.global-reset() {
  .syntax-reset();

  atom-workspace,
  atom-text-editor {
    .text-rendering();
  }

  atom-text-editor:not(.mini) {
    .lines {
      > * > .line {

      }

      .cursor-line {
        &.line {

        }
      }
    }

    .bracket-matcher {
      .region {
        opacity: 1;
        border-color: cyan;
      }
    }

    .highlights {
      .highlight {
        > .region {
          opacity: 1;
          border-color: cyan;
          background: fade(cyan, 30);
          border-radius: 2px;
        }

        &.bracket-matcher {
          .region {

          }
        }

        &.find-result {
          .region {

          }
        }

        &.selection {
          .region {

          }
        }
      }
    }

    .cursors {
      opacity: 1;
    }

    .cursor {
      border-color: lime;
    }

    .selection .region {
      // background: red;
    }
  }
}

.text-smoothing() {
  -moz-font-smoothing: grayscale;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.text-rendering() {
  font-kerning: none;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
}

.border-reset() {
  border-color: @ui-border-color !important;
  -webkit-mask-image: none !important;
}

.text-reset() {
  // .text-smoothing();
  .text-rendering();
  font-style: normal;
  // font-size: @font-size;
}

.syntax-reset() {
  .syntax--hyperlink {
    text-decoration: none !important;
  }

  .syntax--comment {
    font-style: normal !important;
  }

  .syntax--curly,
  .syntax--round {
    // background: lime;

    &.syntax--begin {
      // border-radius: 2px;
    }

    &.syntax--end {
      // border-radius: 2px;
    }
  }
}

.font-icons() {
  font-family: @font-family !important;
  font-size: @icon-font-size !important;
}


.tab-bar-reset() {
  border-radius: 0;
  border: 0;
  background-image: none;
  box-shadow: none;
}
