
@atom-home: "/Volumes/Storage/Projects/atom";

@color-keys: light, dark, subtle, highlight, selected, info, success, warning, error;
@color-values: @color-light, @color-dark, @color-subtle, @color-highlight, @color-selected, @color-info, @color-success, @color-warning, @color-error;
@color-values-hover: @color-light-hover, @color-dark-hover, @color-subtle-hover, @color-highlight-hover, @color-selected-hover, @color-info-hover, @color-success-hover, @color-warning-hover, @color-error-hover;

@color-light: @mono-1;
@color-dark: @app-background-color;
@color-subtle: @mono-3;
@color-highlight: @mono-2;
@color-selected: lighten(@mono-1, 25);
@color-info: @text-color-info;
@color-success: @text-color-success;
@color-warning: tint(shade(@text-color-warning, -10), -30);
@color-error: @text-color-error;

@color-light-hover: @color-light;
@color-dark-hover: @color-dark;
@color-subtle-hover: @color-subtle;
@color-highlight-hover: @color-highlight;
@color-selected-hover: @color-selected;
@color-info-hover: @color-info;
@color-success-hover: @color-success;
@color-warning-hover: @color-warning;
@color-error-hover: @color-error;

// @hue-1:   hsl(185, 45%, 55%); // cyan
@hue-2:   @color-info; // blue
// @hue-3:   hsl(285, 60%, 65%); // purple
@hue-4:   @color-success; // green
// @hue-5:   hsl(355, 65%, 65%); // darkred
@hue-5-2: @color-error; // red
// @hue-6:   hsl( 30, 55%, 60%); // orange
@hue-6-2: @color-warning; // yellow

@syntax-accent: @accent-bg-color;

@ui-border-color: @base-border-color;
// @ui-border-color: @syntax-fg;

// @fg-light: @color-light;
// @fg-dark: @color-dark;
// @fg-subtle: @color-subtle;
// @fg-highlight: @color-highlight;
// @fg-selected: @color-selected;
// @fg-info: @color-info;
// @fg-success: @color-success;
// @fg-warning: @color-warning;
// @fg-error: @color-error;
//
// @fg-light-hover: @color-light-hover;
// @fg-dark-hover: @color-dark-hover;
// @fg-subtle-hover: @color-subtle-hover;
// @fg-highlight-hover: @color-highlight-hover;
// @fg-selected-hover: @color-selected-hover;
// @fg-info-hover: @color-info-hover;
// @fg-success-hover: @color-success-hover;
// @fg-warning-hover: @color-warning-hover;
// @fg-error-hover: @color-error-hover;
//
// @bg-light: @color-light;
// @bg-dark: @color-dark;
// @bg-subtle: @color-subtle;
// @bg-highlight: @color-highlight;
// @bg-selected: @color-selected;
// @bg-info: @color-info;
// @bg-success: @color-success;
// @bg-warning: @color-warning;
// @bg-error: @color-error;
//
// @bg-light-hover: @color-light-hover;
// @bg-dark-hover: @color-dark-hover;
// @bg-subtle-hover: @color-subtle-hover;
// @bg-highlight-hover: @color-highlight-hover;
// @bg-selected-hover: @color-selected-hover;
// @bg-info-hover: @color-info-hover;
// @bg-success-hover: @color-success-hover;
// @bg-warning-hover: @color-warning-hover;
// @bg-error-hover: @color-error-hover;

@mdi-font-size: 1.5em;
@tool-bar-btn-width: 3.8rem;
@tool-bar-icon-size: 1.1em;
@tool-bar-height: 3.8rem;
@tool-bar-btn-height: 3.8rem;
@tree-view-tab-bar-height: 3.8rem;
@tree-view-width: 280px;
@tab-bar-height: 3rem;
@accent-color: red;
@tool-bar-btn-fg: @accent-text-color;
@tool-bar-btn-bg: @accent-color;

@status-bar-fg-color: fade(tint(@color-info, 90), 80);
@status-bar-fg-hover-color: spin(shade(tint(@status-bar-fg-color, 100), 0), 100);
@status-bar-bg-color: @color-info;
@status-bar-font-size: 12px;
@status-bar-height: 24px;

@accent-bg-color: @color-info-hover;


@font-family: system-ui, MaterialDesignIcons, master-icons;
@icon-font-size: @ui-size * 1.4;
