
// Config -----------------------------------
@base: #292A2F;
// @base: #3D3D3D;
// @base: #1F2838;
// @base: #2E3440;
// @base: #1E1E1E;
// @base: #282A35;
// @base: #212121;
// @base: #868E95;

@syntax-hue        : hue(@base);
@syntax-saturation : saturation(@base);
@syntax-brightness : lightness(@base);

// @syntax-hue:          230;
// @syntax-saturation:   12%;
// @syntax-brightness:   22%;


// Monochrome -----------------------------------
@mono-1: hsl(@syntax-hue, @syntax-saturation - ((100 - @syntax-saturation) * .05), @syntax-brightness + ((100 - @syntax-brightness) * .9));
@mono-2: hsl(@syntax-hue, @syntax-saturation - ((100 - @syntax-saturation) * .1), @syntax-brightness + ((100 - @syntax-brightness) * .35));
@mono-3: hsl(@syntax-hue, @syntax-saturation - ((100 - @syntax-saturation) * .1), @syntax-brightness + ((100 - @syntax-brightness) * .2));

// @mono-1: hsl(@syntax-hue, 60%, 92%); // default text
// @mono-2: hsl(@syntax-hue, 24%, 66%);
// @mono-3: hsl(@syntax-hue, 12%, 44%);

// Colors -----------------------------------
@cyan    : #86E0FC;
@hue-1   : hsl(hue(@cyan), saturation(@cyan), lightness(@cyan) + 2%);
// @hue-1:   hsl(191, 91%, 73%); // <-cyan
@blue    : #8EC5F7;
@hue-2   : hsl(hue(@blue), saturation(@blue) + 14%, lightness(@blue) + 2%);
// @hue-2:   hsl(212, 99%, 75%); // <-blue
@purple  : #C3ADF2;
@hue-3   : hsl(hue(@purple), saturation(@purple) + 14%, lightness(@purple) + 1%);
// @hue-3:   hsl(286, 82%, 79%); // <-purple
@green   : #A3F791;
@hue-4   : hsl(hue(@green), saturation(@green) - 2%, lightness(@green) + 2%);
// @hue-4:   hsl(118, 69%, 78%); // <-green
@hue-5   : hsl(  5, 91%, 73%); // <-red 1
@red2    : #DA6C72;
@hue-5-2 : hsl(hue(@red2), saturation(@red2), lightness(@red2));
// @hue-5-2: hsl(348, 45%, 66%); // <-red 2
@orange1 : #FAC88F;
@hue-6   : hsl(hue(@orange1), saturation(@orange1), lightness(@orange1));
// @hue-6:   hsl( 48, 71%, 76%); // <-orange 1
@yellow2 : #F4E557;
@hue-6-2 : hsl(hue(@yellow2), saturation(@yellow2) - 10%, lightness(@yellow2) + 2%);
// @hue-6-2: hsl( 41, 98%, 70%); // <-orange 2


// Base Syntax colors -----------------------------------
@syntax-fg     : @mono-1;
@syntax-bg     : hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter : @mono-3;
@syntax-guide  : fade(@syntax-fg, 10%);
@syntax-accent : @hue-3;
// @syntax-accent: hsl(@syntax-hue, 100%, 76% );
