
// Config -----------------------------------
@base: #33343D;
// @base: #292A2F;

@syntax-hue        : hue(@base);
@syntax-saturation : saturation(@base);
@syntax-brightness : lightness(@base);
@syntax-lightness : @syntax-brightness;

// @syntax-hue:          230;
// @syntax-saturation:   12%;
// @syntax-brightness:   22%;


// Monochrome -----------------------------------
@base-fg: #D6D9DF;

@fg-hue: hue(@base-fg);
@fg-saturation: saturation(@base-fg);
@fg-lightness: lightness(@base-fg);

@mono-1: hsl(@syntax-hue, @syntax-saturation, @syntax-lightness + ((100 - @syntax-lightness) * .8));
@mono-2: hsl(@syntax-hue, @syntax-saturation, @syntax-lightness + ((100 - @syntax-lightness) * .4));
@mono-3: hsl(@syntax-hue, @syntax-saturation, @syntax-lightness + ((100 - @syntax-lightness) * .2));

// @mono-1: hsl(@syntax-hue, 60%, 92%); // default text
// @mono-2: hsl(@syntax-hue, 24%, 66%);
// @mono-3: hsl(@syntax-hue, 12%, 44%);

// Colors -----------------------------------
@cyan    : #8DEDFC;
// @cyan    : #6BE5FD;
// @cyan    : #74FFFF;
@hue-1   : hsl(hue(@cyan), saturation(@cyan), lightness(@cyan));
// @hue-1:   hsl(191, 91%, 73%); // <-cyan
@blue    : #86B7F3;
// @blue    : #7DBDEA;
// @blue    : #7ABAF4;
@hue-2   : hsl(hue(@blue), saturation(@blue), lightness(@blue));
// @hue-2:   hsl(212, 99%, 75%); // <-blue
@purple  : #C08FE1;
// @purple  : #B5A1E6;
// @purple  : #BA8DDB;
@hue-3   : hsl(hue(@purple), saturation(@purple), lightness(@purple));
// @hue-3:   hsl(286, 82%, 79%); // <-purple
@green   : #AEF1AD;
// @green   : #A3F791;
@hue-4   : hsl(hue(@green), saturation(@green), lightness(@green));
// @hue-4:   hsl(118, 69%, 78%); // <-green
@red1    : #DC8086; // Red
// @red1    : #DB8189; // Red
@hue-5 : hsl(hue(@red1), saturation(@red1), lightness(@red1));
// @hue-5   : hsl(  5, 91%, 73%); // <-red 1
@red2    : #DA6C72; // Dark Red
@hue-5-2 : hsl(hue(@red2), saturation(@red2), lightness(@red2));
// @hue-5-2: hsl(348, 45%, 66%); // <-red 2
@orange1 : #EABC86; // Light Orange
// @orange1 : #E4BC8D; // Light Orange
// @orange1 : #EFBF82; // Light Orange
// @orange1 : #E4BF7F; // Light Orange
@hue-6   : hsl(hue(@orange1), saturation(@orange1), lightness(@orange1));
// @hue-6:   hsl( 48, 71%, 76%); // <-orange 1
@orange2 : #FEE581; // Yellow
// @orange2 : #F4E283; // Yellow
// @orange2 : #F0DD7C; // Yellow
@hue-6-2 : hsl(hue(@orange2), saturation(@orange2), lightness(@orange2));
// @hue-6-2: hsl( 41, 98%, 70%); // <-orange 2


// Base Syntax colors -----------------------------------
@syntax-fg     : @mono-1;
@syntax-bg     : hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter : @mono-3;
@syntax-guide  : fade(@syntax-fg, 8%);
@syntax-accent : @hue-3;
// @syntax-accent: hsl(@syntax-hue, 100%, 76% );
